<!DOCTYPE html>
<html>
    <head>
        <title><%= agent._id %></title>
        <script>
            var agentID = '<%= agent._id %>';
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

        <script type="text/javascript" src="/superfish/js/hoverIntent.js"></script>
        <script type="text/javascript" src="/superfish/js/superfish.js"></script>

        <link rel="stylesheet" media="screen" href="/superfish/css/superfish.css" /> 
        <link rel="stylesheet" media="screen" href="/superfish/css/superfish-vertical.css" /> 

        <script src="/codemirror/lib/codemirror.js"></script>
        <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
        <script src="/codemirror/mode/javascript/javascript.js"></script>

        <link rel="stylesheet" type="text/css" href="/gritter/css/jquery.gritter.css" />
        <script type="text/javascript" src="/gritter/js/jquery.gritter.js"></script>

        <script type="text/javascript" src="/agent.js"></script>

        <link rel="stylesheet" type="text/css" href="/style.css" />

        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
        <script type="text/javascript" src="/totalstorage/jquery.total-storage.min.js"></script>

        <script type="text/javascript" src="/cortexit.js"></script>

        <link id="themeCSS" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=[PROFILE ID]"></script>

    </head>
    <script>
        $(document).ready(function(){
            onStart = function() { <%= onStart %> };
        });
    </script>

    <body>

        <div id="_Top" class="menu">

            <ul class="sf-menu">
                <li>
                    <a href="/node/new" class="tooltip"><img width="48px" height="48px" src="/icons/simplistica/add.png" alt="New"/><span>New</span></a>
                    <ul>
                        <li><a href="/node/new">New node...</a></li>
                        <li>Duplicate this node...</li>
                    </ul>
                </li>
                <li id="EditButton"><a href="javascript:toggleEdit();" class="tooltip"><img width="48px" height="48px" src="/icons/simplistica/page_edit.png" alt="Edit"/><span>Edit</span></a>
                    <ul>
                        <li><a href="/support" class="tooltip"><img width="48px" height="48px" src="/icons/webapp/Comment.png" alt="Translate"/><span>Translate</span></a>
                    </ul>
                </li>
                <li id="NeighborhoodButton">
                    <a href="javascript:toggleNeighborhood();" class="tooltip"><img width="48px" height="48px" src="/icons/webapp/Info.png" alt="Neighborhood"/><span>Neighborhood</span></a>
                    <ul>
                        <li><a href="javascript:graphIt();" class="tooltip"><img width="48px" height="48px" src="/icons/webapp/LineChart.png" alt="Share"/><span>Graph</span></a></li>
                    </ul>
                </li>

                <li><a href="#" class="tooltip"><img id="speaker_icon" width="48px" height="48px" src="/icons/simplistica/sound.png" alt="Speak"/><span>Speech</span></a>
                    <ul>
                        <li><a href="javascript:speakSpeech(function() {})">Speak.js Speech (once)</a></li>
                        <li><div style="float:left"><a href="javascript:startSpeakAutoSpeech()">Start Speak.js Autoplay</a></div><div style="float:right"><a href="javascript:stopSpeakAutoSpeech()">Stop</a></div></li>
                        <li><a href="javascript:toggleVozmeSpeech()">Toggle VozMe Speech</a></li>
                    </ul>
                </li>                

                <li><a href="javascript:imageIt();" class="tooltip"><img width="48px" height="48px" src="/icons/webapp/Picture.png" alt="Images"/><span>Images</span></a></li>
                <li><a href="#" class="tooltip"><img width="48px" height="48px" src="/icons/simplistica/monitor.png" alt="Theme"/><span>Theme</span></a>
                    <ul>
                        <li><a href="javascript:setTheme('default-black')">White on Black</a></li>
                        <li><a href="javascript:setTheme('default-white')">Black on White</a></li>
                        <li><a href="javascript:setTheme('terminal-green')">Terminal Green</a></li>
                        <li><a href="javascript:setTheme('earthspace')">Earth Space</a></li>
                        <li><a href="javascript:setTheme('concrete')">Concrete</a></li>
                        <li><a href="javascript:setTheme('chalkboard')">Chalkboard</a></li>
                    </ul>
                </li>
                <li><a href="javascript:shareIt();" class="tooltip"><img width="48px" height="48px" src="/icons/simplistica/mail_sent.png" alt="Share"/><span>Share</span></a>

                <li><a href="#" class="tooltip"><img width="48px" height="48px" src="/icons/question.png" alt="Help"/><span>Help</span></a>
                    <ul>
                        <li><a href="/">What is Cortexit?</a></li>
                        <li><a href="/bookmarklet">Cortexit Bookmarklet</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                    </ul>
                </li>

                <li>
                    <table id="_Control" border="0">
                        <tr>
                            <td align="left" id="_Prev">

                            </td>
                            <td align="center" id="Status">

                            </td>
                            <td align="right" id="_Next">

                            </td>
                            <td align="center">
                                &nbsp;
                            </td>
                            <td align="left">
                                <a href="javascript:fontSmaller()"><img src="/icons/minus.png" height="32px" width="32px" title="Smaller Font"/></a>
                            </td>
                            <td align="center" id="_Font" >                    
                                &nbsp; Abc &nbsp;
                            </td>
                            <td align="right">
                                <a href="javascript:fontLarger()"><img src="/icons/plus.png" height="32px" width="32px" title="Larger Font"/></a>
                            </td>
                        </tr>
                    </table>
                </li>

                <li>
                    <a href="#" class="tooltip"><img width="48px" height="48px" src="/icons/star_off.png" alt="Remember"/><span>Remember</span></a>
                </li>

            </ul>



        </div>



        <div id="_Panel">
            <div id="netentionEdit">

                <div id="listArea">
                    <a href="#">Name</a>
                    <a href="#">When</a>
                    <a href="#">Where</a>
                    <br/>                    
                    <ul id="listAreaList">
                    </ul>
                </div>
                <div id="contentArea">

                    <div id="editArea">
                        <div id="EditMenuBar">
                            <ul id="EditMenu" class="sf-menu sf-js-enabled xsf-shadow">
                            </ul>            
                        </div>
                        <div id="EditMenuArea">
                            <textarea id="NodeSource" rows="7"></textarea>
                        </div>

                        <div id="Status"></div>

                        <div id="EditButtons">
                            <a href="javascript:deleteNode()" data-role="button" data-icon="delete" alt="Delete">Delete</a>
                            <a href="javascript:updateNode()" data-role="button" data-icon="check" alt="Update">Update</a>
                        </div>
                    </div>
                    <div id="viewArea">
                    </div>
                </div>
            </div>

            <section id="_Content" contentEditable="false" onMouseOver='onContentMouseOver(this);' onMouseOut='onContentMouseOut(this);'>
                <div id="Loading"><center>Loading...</center></div>


            </section>

            <section id="Neighborhood">
            </section>            
            <section id="Edit" style="display:none">
                <h1>Edit</h1>
                <script>
                    function apply() {
                        var t = $('#_Content').text();

                        var mode = document.getElementById('loadmode').value;

                        target = '/add/' + mode;

                        if(target!=null) {
                            $("#output")  
                            .html("<img src='/icons/loading.gif' width='200px' height='100px' alt='Loading...'/>")  
                            .load(target, {content: t});  
                        }

                    }
                </script>
                <div id="editfunctions">
                    <div>
                        <select id="loadmode">
                            <option value="text">Text (as-is)</option>
                            <option value="text_sentence">Text, by Sentence</option>
                            <option value="rss">RSS Feed</option>
                            <option value="twitter_timeline">Twitter Timeline</option>        
                            <option value="twitter_search">Twitter Search</option>        
                            <option value="text_paragraph">Text, by Paragraph (not impl yet)</option>
                            <option value="youtube">Youtube Channel  (not impl yet)</option>        
                        </select>
                    </div>

                    <div>
                        <button type="button" onclick="apply();">Load</button>
                    </div>

                    <div id="output">
                    </div>

                </div>
            </section>            

        </div>



        <span id="_Speech">
        </span>

        <div id="share-modal" title="Share...">
            <div id="attbtext"></div>
            <span id="attb"></span>        
            <a id="atlink"></a>
        </div>
        <div id="Window" style="display: None">
        </div>
        <div id="audio"></div>

    </body>
</html>
