#_Panel {
    color: #ddd;
    margin-top: 4em;
}
a {
    color: #fff;
}

.ContentHighlighted {
    background-color: #444;
}


body {
   background-color: #000;
}


#_Top {
    background: none;
    position: fixed;
    top:0;
    left: 0;
    right:0;
    width: 100%;
}

#Status {
    color: white;
}

#_Font {
    color: white;
}
#_Bottom {
    background-color: transparent;
}

#StatusHover {
    background-color: white;
}
#_FontHover {
    background-color: white;
}